{% extends "base.html" %}
{% load static %}
{% block title %}
	Your Shopping Cart
{% endblock title %}
{% block content %}
<div style="overflow-x:auto;">
	<table>
		<thead class='t-head'>
			<h1>Your Shopping Cart</h1>
			<tr>
				<th>الصور</th>
				<th>المنتج</th>
				<th>الكمية</th>
				<th>حذف</th>
				<th>تكلفة المنتج</th>
				<th>التكلفه الكلية</th>
			</tr>
		</thead>
		<tbody>
			{% if cart %}
				{% for item in cart %}
					{% with  product=item.product %}
					    <tr>
					    	<td>
					    		<a href="{{product.get_absolute_url}}">
					    			<img src="
					    				{% if product.Image %}
					    					{{product.Image.url}}
					    				{% else %}
					    					{% static 'img/default.png' %}
					    				{% endif %}"
					    			width="100px">
					    		</a>
					    	</td>
					    	<td>{{product.name}}</td>
					    	<td>
					    		<form method="post" action="{% url 'cart:cart_add' product.id %}">
					    			{% csrf_token %}
					    			{{item.update_quantity_form.quantity}}
					    			{{item.update_quantity_form.update}}
					    			<input type="submit" value="Update">
					    		</form>
					    	</td>
					    	<td>
					    		<a href="{% url 'cart:cart_remove' product.id%}">
					    			حذف
					    		</a>
					    	</td>
					    	<td>
					    		${{item.price}}
					    	</td>
					    	<td>
					    		{{item.total_price}}
					    	</td>
					    </tr>

					{% endwith %}
				{% endfor %}
			{% else %}
				<tr >
					<td colspan="4" style="width:100%;text-align:center;">there is no product !</td>
				</tr>
            {% endif %}
            <tr class="total">
					<td>
						التكلفة الكليه
					</td>
					<td colspan="4"></td>
					<td class="num">${{cart.get_total_price}}</td>
			</tr>
	</tbody>
	</table>
</div>						
	<div class="check">
		<p class="text-right">
			<a href="{% url 'shop:product_list' %}"><strong>Continu shopping</strong></a>
			<a href="{% url 'orders:order_create' %}"><strong>Checkout</strong></a>
		</p>
	</div>
{% endblock content %}